<div class="card asset-cards col-sm-3">
  <% if !asset.available %>
    <div class="booked-stamp-for-cards">
      <%= image_tag "booked-stamp.png", alt: "Booked stamp" %>
    </div>
  <% end %>
  <%= image_tag asset.pictures.first, alt: "Card Image", class: "card-img-top", style: "height: 13rem;" %>
  <div class="card-body">
    <h4 class="card-title"><%= asset.name %></h4>
    <div>
      <% asset.event_tags.each do |event| %>
        <span class="event"> <%= event %> </span>
      <% end %>
    </div>
    <br>
    <div class="display-address-card">
      <p class="card-text"> <%= asset.address %>  <%= asset.location.place %>, <%= asset.location.city %>, 
      <%= asset.location.pincode %></p>
    </div>
    <div class="card-footer" id="display_price">
      <%= asset.currency %> <%= asset.price %> <%= asset.payment_period %>
      <%= link_to 'See it', asset_path(asset), class: "btn btn-success col-sm-12" %>
    </div>
  </div>
</div>