<div class="container col-sm-7 advertisement-container">
  <div class="text-center"> <h2>POST YOUR AD</h2> <hr></div>
  <%= form_for(@asset) do |f| %>
    <% if @asset.errors.any? %>
      <div class="alert alert-danger">
        <%= "Server found #{@asset.errors.count} validation errors" %>
        <% @asset.errors.full_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
    <% end %>

    <div class="container col-sm-11" id="asset_details">
      <%= label_tag :add_asset_tags, "*Add atleat one Event tag:" %>
      <div class="view-event-tags"></div>
      <%= text_field_tag :event_tags, nil, style: "display: none;", required: true %>
      <div class="form-inline">
        <%= text_field_tag :add_asset_tags, nil, class: "form-control col-sm-9", placeholder: "E.g: Party, Parking, Sport, Get Together..", list: "suggestions" %>
        <datalist id="suggestions">
          <option value="Party"></option>
          <option value="Parking"></option>
          <option value="Sport"></option>
          <option value="Get Together"></option>
          <option value="Function"></option>
          <option value="Meeting"></option>
          <option value="Feast"></option>
          <option value="Staying"></option>
        </datalist>
        <button type="button" class="btn btn-primary col-sm-3" id="add_tags" disabled=true>Add Tag</button>
      </div>
      <h3>Enter few features and details: </h3>
      <div class="form-group">
        <%= f.label :name, "*Name Your Place:" %>
        <%= f.text_field :name, class: "form-control", placeholder: "Give a name to your place. E.g (Peterson's Garage, Game Space)", required: true %>
        <div class="feedback-warning"></div>
      </div>
      <div class="form-group">
        <%= f.label :dimension, "*Dimensions of the Place:" %>
        <%= f.text_field :dimension, class: "form-control", placeholder: "E.g (22m X 32m, 50ft. x 20ft..)", required: true %>
        <p style="font-size: 0.7rem; color: blue;"> Enter dimension Formate: (Length x breadth) </p>
        <div class="feedback-warning"></div>
      </div>
      <div class="form-group">
        <%= f.label :description, "*Brief the Features:" %>
        <%= f.text_area :description, class: "form-control", rows: 3, placeholder: "Brief condition, features, locality and facilities (Min: 20 charecters)", required: true %>
        <p style="font-size: 0.7rem; color: blue;"> This will help viewer to have proper idea of your asset, exactly what benefits and features the user will be getting.</p>
         <div class="feedback-warning"></div>
      </div>
      <hr>
    </div>

    <div class="container col-sm-11" id="price">
      <h3>Set the pricing: </h3>
      <div class="form-group">
        <%= f.label :price, "*Price:" %>
        <div class="form-inline">
          <%= f.select(:currency, ["\u20B9", "\u20AC", "\u00A5", "\u0024", "\u20BD", "\u3350"], {}, class: "form-control col-sm-2") %>
          <%= f.text_field :price, class: "form-control col-sm-6", required: true %>
          <%= f.select(:payment_period, ["Per Day", "Per Week", "Per Month", "Per Annum"], {}, class: "form-control col-sm-4") %>
          <div class="feedback-warning"></div>
        </div>
      </div>
      <hr>
    </div>
    <div class="container col-sm-11" id="asset_images">
      <h3>Upload upto 6 images: </h3>
        <div class="asset-pictures">
          <label for="asset_pictures" class= "fa fa-plus btn btn-primary">
            Add Photos
          </label>
          <%= f.file_field :pictures, multiple: true, accept: "image/jpg, image/jpeg, image/png" %>
          <div class="preview-images">
          </div>
        </div>
        <p style="font-size: 0.7rem; color: blue;">First image will be displayed while listing</p>
    </div>

    <div class="container col-sm-11" id="location_info">
      <h3>Location Details:</h3>
      <div class="form-group">
        <%= f.label :address, "*Address:" %>
        <%= f.text_field :address, placeholder: "Enter plot no., landmark, road/lane, Floor no.", class: "form-control" %>
        <div class="feedback-warning"></div>
      </div>
      <div class="form-group">
        <%= label_tag :place, "*Place/Street Name:" %>
        <%= text_field_tag :place, nil, placeholder: "Area, Street or square name", class: "form-control" %>
        <div class="feedback-warning"></div>
      </div>
      <div style="display: flex;">
        <div class="form-group col-sm-9" style="padding-left: 0;">
          <%= label_tag :city, "*City:"%>
          <%= text_field_tag :city, nil, placeholder: "City name", class: "form-control"%>
          <div class="feedback-warning"></div>
        </div>
        <div class="form-group col-3" style="padding-right: 0;">
          <%= label_tag :pincode, "*Pincode:" %>
          <%= text_field_tag :pincode, nil, class: "form-control" %>
        </div>
      </div>
    </div>
    <%= f.submit "POST AD.", class: "btn btn-primary" %>
  <% end %>
</div>