<div class="show-asset-container container col-sm-10">
  <div id="asset_images" class="carousel slide text-center" data-ride="carousel">
    <% if !already_in_wishlist? @asset.id %>
      <%= link_to asset_add_to_wishlist_path(@asset), class: "btn btn-link wishlist-button" do %>
        <span class="fa fa-plus-square" style="color: #b6f769; font-size: xx-large;" title="Add to your wishlist"></span>
      <% end %>
      <% else %>
      <%= link_to asset_remove_from_wishlist_path(@asset), method: :delete, class: "btn btn-link wishlist-button" do %>
        <span class="fa fa-window-close" style="color: red; font-size: xx-large;" title="Remove from your wishlist"></span>
      <% end %> 
    <% end %>
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <% @asset.pictures.count.times do |i| %>
        <li data-target="#asset_images" data-slide-to=<%= i.to_s %> class=<%= active_class(i) %> > </li>
      <% end %>
    </ul>

    <!-- slide show -->
    <div class="carousel-inner">
      <% i = 0 %>
      <% @asset.pictures.each do |img| %>
        <div class="carousel-item <%= active_class(i) %>">
          <%= image_tag img, alt: "Missing images"%>
        </div>
        <% i = i + 1 %>
      <% end %>
    </div>

    <!-- Left right controls -->
    <a href="#asset_images" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#asset_images" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <hr>
  <div id="asset_title"><h3><strong> <%= @asset.name %> </strong></h3></div>
  <div id="show_asset_tags">
    <% @asset.event_tags.each do |tag| %>
      <div class="show-event-tags"> <%= tag %> </div>
    <% end %>
    <hr>
  </div>
  <div class="row asset-description">
    <div class="col-sm-5" style="border-right: 1px solid black;">
      <strong>Dimension:</strong> <br>
      <%= @asset.dimension %>
    </div>
    <div class="col-sm-7">
      <strong>Features and description:</strong> <br>
      <%= @asset.description %>
    </div>
  </div>
  <hr>
  <h4>User Information</h4>
  <div class="row" id="show_owner_info">
    <div class="col-sm-2" style="padding-right: 0;">
      <%= image_tag place_user_profile_picture(@asset.user), alt: "profile picture" %>
    </div>
    <div class="col-sm-7" style="padding-left: 0;">
      <p style="margin-top: 1.5rem; margin-bottom: 0;"><%= "#{@asset.user.first_name} #{@asset.user.last_name}" %></p>
      <p style="color: blue; margin-bottom: 0;"><%= @asset.user.email %> </p>
      <p> <%= "#{@asset.user.country_code} #{@asset.user.phone_number}" %> </p>
    </div>
    <% if !@asset.available && (@asset.user.id == current_user.id || @asset.booking.user.id == current_user.id) %>
      <div class="col-sm-3 text-center">
        <%= link_to 'Cancel Booking', booking_path(@asset.booking), data: { confirm: "Are you sure you want to cancel booking?" }, method: :delete, class: "btn btn-danger btn-lg" %>
      </div>
    <% end %>  
  </div>
  <hr>

  <div id="show-asset-location">
    <h4>Location Details</h4>
    <div id="asset_location_map">
      <div id="coordinates" style="display: none;"> <%= @asset.location.latitude %>, <%= @asset.location.longitude %> </div>
    </div>
    <div id="show_address" style="margin-top: 0.6rem;">
      <strong>Address:</strong> <%= @asset.address %> <br>
      <strong>Place:</strong> <%= @asset.location.place %>
      <strong>City:</strong> <%= @asset.location.city %>
      <strong>Pincode:</strong> <%= @asset.location.pincode %>
    </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-sm-4" style="color: orange; font-size: 1.3rem;">
        <strong><%= "#{@asset.currency}#{@asset.price} #{@asset.payment_period}" %></strong>
      </div>
      <div class="col-sm-8">
        <%= link_to "Request Booking", new_request_asset_bookings_path(@asset), class: "btn btn-primary", style: "float: right;"%>
        <%= link_to "Back", assets_path, class: "btn btn-warning", style: "float: right; margin-right: 0.5rem;" %>
      </div>
  </div>
  <hr>
  <% if !@asset.available %>
    <div class="booked-stamp">
      <%= image_tag 'booked-stamp.png' %>
    </div>
  <% end %>
  <div id="show_rating"> 
    <% if display_avg_rating(@asset).class.superclass == Numeric %>
      <%= link_to asset_ratings_path(@asset) do %>
        <span class="fa fa-star checked"></span> <%= display_avg_rating(@asset) %>/5
        <span id="show_rating_click_msg">(click here to view reviews)</span>
      <% end %>
      <% else %>
      <%= display_avg_rating(@asset) %>
    <% end %>
  </div>
  <hr>
  <div class="dropdown-toggle" data-toggle="collapse" data-target="#rating_form_container" id="show_rating_form">
    Rate Here:
  </div>
  <div class="collapse" id="rating_form_container">
    <%= render 'ratings/rating_form' %>
  </div>
  <hr>
</div>


<%= javascript_pack_tag 'showAsset' %>